<h1><%= @post.title %> <br>
  <small>
    submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
  </small>
</h1>
<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
    <div>
      <h3>Comments</h3>
      <%= render @post.comments %>
    </div>

    <!--allow signed in users to see the comment form -->
    <% if current_user %>
      <!-- render the comment form, use comments/form because
        this renders the comment form from a post view -->
      <%= render 'comments/form', comment: Comment.new, post: @post %>
    <% end %>
  </div>
  <% if user_is_authorized_for_post?(@post) %>
    <div class ="col-md-4">
      <!-- format a link as an Edit button which directs the user
       to /posts/@post.id/edit, a helper method generated in routes.rb
       by resources :posts  to see routes run "rake routes" in command line -->
       <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
       <!-- use link_to to create a delet button
        the text on the button is Delete Post
        override the default method(:post) with :delete, so route goes to delete route
        style the button by setting class: to btn btn-danger
        pass a hash with the confirm: key to the data: argument, which sends JS confirmation -->
       <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
    </div>
  <% end %>
 </div>
